body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: darkgreen;
    font-family: Arial, Helvetica, sans-serif;
}

.area_login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login{
    background-color: aliceblue;
    width: 385px;
    height: 477px;
    border-radius: 10px;
    padding: 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login form{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 12px;
}

.login input{
    margin-top: 12px;
    background-color: rgba(46, 43, 43, 0.637);
    color: aliceblue;
    padding-left: 10px;
    border: none;
    height: 45px;
    outline: none;
    border-radius: 8px;
    opacity: 100%;
}

.login img{
    width: 142px;
    height: auto;
}

input::placeholder{
    color: aliceblue;
    font-size: 14px;
}


form [type="submit"]{
    display: block;
    background-color: rgb(34, 128, 34);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 100;
    width: 152px;
    margin-left: 117px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: rgb(34, 128, 34);
}

strong{
    font-size: 17.2px;
}

form input[type="submit"]:hover{
    box-shadow: 0px 4px 8px rgba(61, 61, 61, 0.486);
}